# Захист normalize.css від редагування
static/css/normalize.css -diff -merge
static/css/normalize.css linguist-generated=true

# Нормалізація line endings
* text=auto
*.py text eol=lf
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.md text eol=lf
*.txt text eol=lf






